# EGIS fingerprint calibration data
on post-fs-data
   mkdir /mnt/vendor/persist-lg/egis 0700 system system
   mkdir /mnt/vendor/persist-lg/goodix 0700 system system
   mkdir /data/vendor/fingerprintdump 0775 system system

on boot
   # EGIS fingerprint device
   chown system system /dev/esfp0
   chmod 0644 /dev/esfp0
   # Goodix fingerprint device
   chown system system /dev/goodix_fp
   chmod 0666 /dev/goodix_fp

   # FPC fingerprint device
   chown system system /sys/devices/virtual/input/lge_fingerprint/clk_enable
   chown system system /sys/devices/virtual/input/lge_fingerprint/device_prepare
   chown system system /sys/devices/virtual/input/lge_fingerprint/wakeup_enable
   chown system system /sys/devices/virtual/input/lge_fingerprint/irq
   chmod 0200 /sys/devices/virtual/input/lge_fingerprint/clk_enable
   chmod 0200 /sys/devices/virtual/input/lge_fingerprint/device_prepare
   chmod 0200 /sys/devices/virtual/input/lge_fingerprint/wakeup_enable
   chmod 0644 /sys/devices/virtual/input/lge_fingerprint/irq

on property:ro.vendor.lge.minios.bootstart=1
   stop vendor.lge-biometrics-fingerprint-hal-2-2
