# Chipset vendor
import /vendor/etc/init/hw/init.qcom.rc

# to override init.qcom.rc and init.target.rc
import /vendor/etc/init/hw/init.lge.usb.rc
import /vendor/etc/init/hw/init.lge.usb.configfs.rc
import /vendor/etc/init/hw/init.lge.power.rc
import /vendor/etc/init/hw/init.lge.sensors.rc
import /vendor/etc/init/hw/init.lge.display.rc
import /vendor/etc/init/hw/init.lge.fingerprints.rc

on post-fs
    mkdir /data/vendor/nfc 0770 nfc nfc

